
.container {
    display: flex;
}
header {
    width: 100%;
    text-align: center;
}
.production {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.cookie-section {
    text-align: center;
}
.cooking {
   width: 200px
}
.cursorImg {
    width: 50px;
}
.grandmaImg {
    height: 50px;
}
.production img {
    
    width: 100px;
    height: 60px;
}
.production-elm {
    border: 1px solid;
    display: flex;
    width: 100%;
    max-width: 400px;
    align-items: center;
}
.production-elm a {
    cursor: pointer;
}