
.container {
    display: flex;
    flex-wrap: wrap;
}
h3 {
    width: 100%;
    text-align: center;
}
.production {
    display: flex;
}
.counter {
    width: 100%;
}
.cooking {
   width: 200px
}
.cursorImg {
    width: 50px;
}
.grandmaImg {
    height: 50px;
}